@import '../../../assets/scss/mixins';

a, a:link, a:visited { 
  display: block;
  padding: .75rem 1rem;
  border-bottom: solid 1px $grey300;
  &:hover, &:focus {
    text-decoration: none;
    background: $secondary;
    color: $text-light;
  }
  &.active {
    background: $grey300;
    color: $primary;
  }
}

button {
  background: $primary-light;
  color: $text-light;
  text-align: right;
  display: block;
  width: 100%;
  border: none;
  padding: 1rem 1.5rem;
}

nav {
  position: absolute;
  top: 3rem; right: 0; bottom: 0; left: 0;
  background: white;
  z-index: 500;
  ul {
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;	
  }
  li {
    list-style-type: none;
  }
  
}

.content { padding: 0 1.5rem }

@media ( min-width: $small ) {
  nav {
    position: relative;
    top: 0;
  }
  button { display: none }
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}

