<h2>Animations</h2>
<section>
  <div class="actions">
    <button type="button" mat-raised-button color="accent" (click)="makeAccessible()">
      <span *ngIf="accessible">Remove Accessibility Features</span>
      <span *ngIf="!accessible">Make Accessible</span>
    </button>
  </div>
  <div class="demo">
    <div class="carouselle" id="carouselle" aria-live="polite">
      <ng-template ngFor let-sun let-i="index" [ngForOf]="images">
        <img #image (window:resize)="getHeight(image)" (load)="getHeight(image)" [@imageAnimation]="orientation"  #image *ngIf="currentslide === i + 1" src="assets/img/{{ sun.fileName }}" alt="{{ sun.alt }}">
      </ng-template>
      <div class="dots">
        <ng-template ngFor let-sun let-i="index" [ngForOf]="images">
          <button type="button" [disabled]="currentslide === i + 1" mat-icon-button (click)="jumpTo(i+1)" matTooltip="jump to image number {{ i + 1 }}" ><i class="material-icons">&#xE061;</i></button>
        </ng-template>
      </div>
    </div>
    <div class="actions" *ngIf="accessible">
      <button type="button" mat-icon-button (click)="previous()" matTooltip="Previous"><i class="material-icons">&#xE045;</i></button>
      <button *ngIf="this.isAuto" type="button" mat-icon-button (click)="stopAuto()" matTooltip="Pause"><i class="material-icons">&#xE034;</i></button>
      <button *ngIf="!this.isAuto" type="button" mat-icon-button (click)="makeAuto()" matTooltip="Play"><i class="material-icons">&#xE037;</i></button>
      <button type="button" mat-icon-button (click)="next()" matTooltip="Next"><i class="material-icons">&#xE044;</i></button>
    </div>
  </div>
  <cite class="nasa">Images from <a href="https://www.nasa.gov/multimedia/imagegallery/index.html" target="_blank" rel="noopener">Nasa Image Gallery</a></cite>
</section>

  
