$primary: #296b6b;
$primary-light: #599999;
$primary-dark: #004040;

$secondary: #725d7a;
$secondary-light: #a18aa9;
$secondary-dark: #46334e;

$text-light: #ffffff;
$text-dark: #002424;

$background: #fafafa;

$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

$small: 750px;


