<h2>Navigation</h2>
<section>
  <h3>Overview &amp; Demo</h3>
  <div class="spec">
    <blockquote>
      <p><strong>2.4 Navigable:</strong> Provide ways to help users navigate, find content, and determine where they are.</p>
      <p><strong>2.4.1 Bypass Blocks:</strong> A mechanism is available to bypass blocks of content that are repeated on multiple Web pages. (Level A)</p>
    </blockquote>
    <cite><a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#navigation-mechanisms" target="_blank" rel="noopener">WCAG 2.0: G2.4</a></cite>
  </div>
  <h4>Demo</h4>
  <div class="demo">
    <div class="element header">
      <h5 aria-label="html header element">&lt;header&gt;</h5>
      <button type="button" mat-icon-button color="accent" (click)="expand('header')"><i class="material-icons" aria-label="expand for more info about header" matTooltip="More about headers">&#xE88F;</i></button>
    </div>
    <div class="element nav">
      <h5 aria-label="html nav element">&lt;nav&gt;</h5>
      <button type="button" mat-icon-button color="accent" (click)="expand('nav')"><i class="material-icons" aria-label="expand for more info about nav" matTooltip="More about navs">&#xE88F;</i></button>
    </div>
    <div class="main">
      <div>
        <div class="element demo-section">
          <h5 aria-label="html section element">&lt;section&gt;</h5>
          <button type="button" mat-icon-button color="accent" (click)="expand('section')"><i class="material-icons" aria-label="expand for more info about section" matTooltip="More about sections">&#xE88F;</i></button>
        </div>
        <div class="element article">
          <h5 aria-label="html article element">&lt;article&gt;</h5>
          <button type="button" mat-icon-button color="accent" (click)="expand('article')"><i class="material-icons" aria-label="expand for more info about article" matTooltip="More about articles">&#xE88F;</i></button>
        </div>
      </div>
      <div class="element aside">
        <h5 aria-label="html aside element">&lt;aside&gt;</h5>
        <button type="button" mat-icon-button color="accent" (click)="expand('aside')"><i class="material-icons" aria-label="expand for more info about aside" matTooltip="More about asides">&#xE88F;</i></button>
      </div>
    </div>
    <div class="element footer">
      <h5 aria-label="html footer element">&lt;footer&gt;</h5>
      <button type="button" mat-icon-button color="accent" (click)="expand('footer')"><i class="material-icons" aria-label="expand for more info about footer" matTooltip="More about footers">&#xE88F;</i></button>
    </div>
    <cite><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" rel="noopener" target="_blank">MDN web docs: HTML element reference</a></cite>
  </div>
</section>