<section>
  <h2>Accessibility</h2>
  <div class="intro">
    <i class="material-icons" aria-label="accessibility">accessibility</i>
    <p>Ability to interact with a product or service and gain the same benefit from the interaction regardless of device used or capabilities of the user.</p>
  </div>
  <div class="description">
    <div>
      <div>
        <p>Understanding, knowing, and implementing regulations and standards.</p>
        <ul>
          <li><a href="http://www.section508.gov/summary-section508-standards" target="_blank" rel="noopener">508 Compliance</a></li>
          <li><a href="https://www.w3.org/WAI/intro/wcag" target="_blank" rel="noopener">WCAG</a></li>
        </ul>
      </div>
      <div class="line" role="presentation"></div>
      <div>
        <ul>
            <li>Legal Obligations</li>
            <li>Contract Requirements</li>
        </ul>
      </div>
      <div class="line" role="presentation"></div>
      <div>
        <ul>
          <li>Lawsuits</li>
          <li>Client Satisfaction</li>
        </ul>            
      </div>
    </div>

    <div>
      <div>
        <p>Understanding the limitations of devices and how they are being used.</p>
      </div>
      <div class="line" role="presentation"></div>
      <div>
        <ul>
            <li>Cross technology compatibility</li>
            <li>Increased accessibility</li>
            <li>Better user experience</li>
            <li>Increased user satisfaction</li>
        </ul>
      </div>
      <div class="line" role="presentation"></div>
      <div>
        <ul>
            <li>Usability</li>
            <li>User satisfaction</li>        
        </ul>            
      </div>
    </div>

    <div>
      <div>
        <p>Staying current with changes and advancements in tools, devices, and technology.</p>
      </div>
      <div class="line" role="presentation"></div>
      <div>
        <ul>
            <li>Opportunities</li>
            <li>Relevancy</li>        
        </ul>            
      </div>
    </div>
  </div>


</section>