
<h2>Form Labels</h2>
<section>
  <div class="actions">
    <button mat-raised-button color="accent" type="button" (click)="toggleForm()">
      <span *ngIf="!formAccessibility">Make form Accessible</span>
      <span *ngIf="formAccessibility">Break form Accessibility</span>
    </button>
  </div>
  <div class="demo">
    <form class="example-form" [formGroup]="demoForm" *ngIf="formAccessibility" (ngSubmit)="onSubmit()">
      <h4>Contact Form</h4>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" type="text" formControlName="name" maxlength="64" name="name">
        <mat-hint align="end">{{demoForm.controls.name.value.length}} / 64</mat-hint>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" type="email" formControlName="email" maxlength="64" name="email">
        <mat-hint align="end">{{demoForm.controls.email.value.length}} / 64</mat-hint>
        <mat-error *ngIf="demoForm.controls.email.invalid">Please provide a valid email address</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea rows="5" matInput placeholder="Feedback" formControlName="feedback" maxlength="1000" required name="feedback"></textarea>
        <mat-hint align="end">{{demoForm.controls.feedback.value.length}} / 1000</mat-hint>
        <mat-error *ngIf="demoForm.controls.name.invalid">This field is required</mat-error>
      </mat-form-field>
      <div class="actions">
        <button mat-button color="primary" type="submit">Submit</button>
      </div>
    </form>

    <form class="example-form" [formGroup]="demoForm" *ngIf="!formAccessibility">
      <mat-form-field class="example-full-width">
        <input matInput formControlName="name" maxlength="64">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="email" maxlength="64">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea rows="5" matInput formControlName="feedback" maxlength="1000" required></textarea>
      </mat-form-field>
      <div class="actions">
        <button mat-button color="primary" [disabled]="demoForm.invalid">Submit</button>
      </div>
    </form>
  </div>
  <h5>Example</h5>
  <form [formGroup]="idExampleForm">
    <label for="name">Name:</label>
    <input id="name" type="text" maxlength="64" name="name" value="" formControlName="name">
    <br>
    <label><input type="checkbox" name="human" value="" formControlName="human">I am not a robot</label>
  </form>
  <h5>Code</h5>
<pre><code #code>&#x3C;form&#x3E;
  &#x3C;label for=&#x22;name&#x22;&#x3E;Name:&#x3C;/label&#x3E;
  &#x3C;input id=&#x22;name&#x22; type=&#x22;text&#x22; maxlength=&#x22;64&#x22; name=&#x22;name&#x22; value=&#x22;&#x22;&#x3E;
  &#x3C;br&#x3E;
  &#x3C;label &#x3E;&#x3C;input type=&#x22;checkbox&#x22; name=&#x22;human&#x22; value=&#x22;&#x22;&#x3E;I am not a robot&#x3C;/label&#x3E;
&#x3C;/form&#x3E;</code></pre>

  <h4>Using the title tag</h4>
  <h5>Example</h5>
  <form [formGroup]="titleExample">
    <fieldset>
      <legend>Phone number</legend>
      <input id="areaCode" name="areaCode" title="Area Code" 
      type="text" size="3" value="" formControlName="areaCode" maxlength="3">
      <input id="exchange" name="exchange" title="First three digits of phone number" 
      type="text" size="3" value="" formControlName="exchange" maxlength="3">
      <input id="lastDigits" name="lastDigits" title="Last four digits of phone number" 
      type="text" size="4" value="" formControlName="lastDigits" maxlength="4">
    </fieldset>
  </form>
  <h5>Code</h5>
<pre><code #code2>&#x3C;form&#x3E;
  &#x3C;fieldset&#x3E;
    &#x3C;legend&#x3E;Phone number&#x3C;/legend&#x3E;
    &#x3C;input id=&#x22;areaCode&#x22; name=&#x22;areaCode&#x22; title=&#x22;Area Code&#x22; 
    type=&#x22;text&#x22; size=&#x22;3&#x22; value=&#x22;&#x22; maxlength=&#x22;3&#x22;&#x3E;
    &#x3C;input id=&#x22;exchange&#x22; name=&#x22;exchange&#x22; title=&#x22;First three digits of phone number&#x22; 
    type=&#x22;text&#x22; size=&#x22;3&#x22; value=&#x22;&#x22; maxlength=&#x22;3&#x22;&#x3E;
    &#x3C;input id=&#x22;lastDigits&#x22; name=&#x22;lastDigits&#x22; title=&#x22;Last four digits of phone number&#x22; 
    type=&#x22;text&#x22; size=&#x22;4&#x22; value=&#x22;&#x22; maxlength=&#x22;4&#x22;&#x3E;
    &#x3C;/fieldset&#x3E;
&#x3C;/form&#x3E;</code></pre>

  <h4>Using fieldset and legend elements</h4>
  <h5>Example</h5>
  <form [formGroup]="fieldsetExample">
    <fieldset>
      <legend>The play <cite>Hamlet</cite> was written by:</legend>
      <input type="radio" id="shakesp" name="hamlet" checked="checked" value="a" formControlName="hamlet">
      <label for="shakesp">William Shakespeare</label>
      <br>
      <label>
        <input type="radio" name="hamlet" value="b">
        Rudyard Kipling
      </label>
    </fieldset>
  </form>
  <h5>Code</h5>

<pre><code #code3>&#x3C;form&#x3E;
  &#x3C;fieldset&#x3E;
    &#x3C;legend&#x3E;The play &#x3C;cite&#x3E;Hamlet&#x3C;/cite&#x3E; was written by:&#x3C;/legend&#x3E;
    &#x3C;input type=&#x22;radio&#x22; id=&#x22;shakesp&#x22; name=&#x22;hamlet&#x22; checked=&#x22;checked&#x22; value=&#x22;a&#x22;&#x3E;
    &#x3C;label for=&#x22;shakesp&#x22;&#x3E;William Shakespeare&#x3C;/label&#x3E;
    &#x3C;br&#x3E;
    &#x3C;label&#x3E;
      &#x3C;input type=&#x22;radio&#x22; name=&#x22;hamlet&#x22; value=&#x22;b&#x22;&#x3E;
      Rudyard Kipling
    &#x3C;/label&#x3E;
  &#x3C;/fieldset&#x3E;
&#x3C;/form&#x3E;</code></pre>
</section>
