@import '../../../assets/scss/mixins';

.header { 
  div { text-align: right; }
  span {  display: block; margin: .5rem; }
}
h2 { margin-bottom: 0; }

@media (min-width: $small) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.bad-contrast p {
  color: $secondary-light;
}

.demo {
  color: white;
  margin-bottom: 2rem;
  div {
    padding: 1rem;
  }
  div:nth-of-type(1) { background: #b9a7bf }
  div:nth-of-type(2) { background: #896d92; }
  div:nth-of-type(3) { background: #724a7d }
}