  <h2>Color Contrast</h2>
  <section>
    <div class="actions">
      <button type="button" mat-raised-button color="accent" (click)="toggleContrast()">
        <span *ngIf="contrast">Break Contrast Ration</span>
        <span *ngIf="!contrast">Fix Contrast Ratio</span>
      </button>
      <div *ngIf="contrast">contrast ration is: 11.13 : 1</div>
      <div *ngIf="!contrast">contrast ration is: 1.59 : 1</div>
    </div>
    <div [ngClass]="{'bad-contrast': !contrast}">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec tristique tortor. Pellentesque tempor eu enim feugiat ultricies. Praesent vitae massa a felis molestie pretium. Vivamus vehicula, mi non tincidunt dictum, nunc nisl fringilla enim, non dapibus quam ipsum id velit. Morbi ultricies vehicula pretium. Curabitur velit lacus, pulvinar ac felis non, varius scelerisque leo. Phasellus eu pretium ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut elementum aliquet lacus, sit amet condimentum metus condimentum ac. Maecenas vulputate neque ut auctor consequat. Quisque eget luctus magna. Fusce pharetra vel arcu placerat accumsan. Duis mollis dolor eu varius euismod. Praesent vel nulla nisl. Ut eu aliquet urna.</p>
    </div>
    <p>Side by side passing and failling contrast ration:</p>

    <div class="demo">
      <div> 2.25 : 1 (Fail)</div>
      <div> 4.5 : 1 (AA)</div>
      <div> 7.02 : 1 (AAA)</div>
    </div>
  </section>
  