<h2>Ambiguous Links <small>...and buttons</small></h2>
<section>

  <div class="actions">
    <button type="button" mat-raised-button color="accent" (click)="makeAccessible()">
      <span *ngIf="accessible">Break Link Accessibility</span>
      <span *ngIf="!accessible">Make Link Accessible</span>
    </button>
  </div>
  <div class="demo">
    <p>Click the link below</p>
    <a *ngIf="!accessible" [routerLink]="['.']" fragment="resources" (click)="scrollTo('resources')"><i class="material-icons">&#xE02F;</i></a>
    <a *ngIf="accessible" [routerLink]="['.']" fragment="resources" (click)="scrollTo('resources')"><i class="material-icons" aria-hidden="true">&#xE02F;</i> Jump to resources section</a>
  </div>

  <h4>Example</h4>

<pre><code #code>&#x3C;a href=&#x22;#resources&#x22; title="Resources"&#x3E;
  &#x3C;i class=&#x22;material-icons&#x22; aria-label=&#x22;hidden&#x22;&#x3E;&#x26;#xE02F;&#x3C;/i&#x3E;
  &#x3C;span&#x3E;Resources&#x3C;/span&#x3E;
&#x3C;/a&#x3E;</code></pre>

  <h5>Code</h5>
<pre><code #code2>a span &#123;
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px; 
&#125;</code></pre>

  <h4>Example</h4>
  <div class="example onion">
    <p>Equifax Impressed By Hackers’ Ability To Ruin People’s Finances More Efficiently Than Company Can</p>
    <blockquote>ATLANTA—In the wake of a massive data breach that exposed the sensitive personal information of 143 million customers, executives from credit agency Equifax said Friday that they were impressed by the hackers’ ability to ruin people’s finances much more efficiently than their company can...</blockquote>
    <a href="http://www.theonion.com/article/equifax-impressed-hackers-ability-ruin-peoples-fin-56882" target="_blank" rel="noopener" aria-label="Read more about the Equifax breach">Read More</a>
  </div>
  <h5>Code</h5>
<pre><code #code4 >&#x3C;p&#x3E;Equifax Impressed By Hackers&#x2019; Ability To Ruin People&#x2019;s Finances More Efficiently Than Company Can&#x3C;/p&#x3E;
&#x3C;blockquote&#x3E;ATLANTA&#x2014;In the wake of a massive data breach that exposed the sensitive personal information of 143 million customers, executives from credit agency Equifax said Friday that they were impressed by the hackers&#x2019; ability to ruin people&#x2019;s finances much more efficiently than their company can...&#x3C;/blockquote&#x3E;

&#x3C;a href=&#x22;http://www.theonion.com/article/equifax-impressed-hackers-ability-ruin-peoples-fin-56882&#x22;
 aria-label=&#x22;Read more about the Equifax breach&#x22;
  &#x3E;Read More
&#x3C;/a&#x3E;</code></pre>
</section>
