<h2>Links and Buttons</h2>
<section>

  <div class="demo">
    <h4>What am I?</h4>
    <p>Click me to find out.</p>
    <div class="button" (click)="toggleClickMe()">Click Me</div>
    <p *ngIf="clickMe">I'm actually a div, and if you try to tab to me you will realize that I cannot be tabbed too via keyboard.</p>
  </div>

  <table>
    <thead>
      <tr>
        <th scope="col">Requirement</th>
        <th scope="col"><code>&#x3C;div&#x3E;</code> &amp; <code>&#x3C;span&#x3E;</code></th>
        <th scope="col"><code>&#x3C;a&#x3E;</code> &amp; <code>&#x3C;button&#x3E;</code></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Natively keyboard accessible</td>
        <td>No</td>
        <td>Yes<br>(for <code>&#x3C;a&#x3E;</code>, only when href present)</td>
      </tr>
      <tr>
        <td>Sufficient Color Contrast</td>
        <td>Design Dependent</td>
        <td>Design Dependent
          <br>(unless using native BUTTON with no CSS)</td>
      </tr>
      <tr>
        <td>Exposes appropriate name, state, role, value</td>
        <td>No</td>
        <td>Yes</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <h3>How to choose?</h3>
  <div class="choose">
    <div class="actions"><button mat-raised-button type="button" (click)="reset()">Reset</button></div>
    <div class="question">
      <p>Are you trying to navigate the user to somewhere?</p>
      <div class="actions">
        <button type="button" mat-button color="accent"  [ngClass]="{'active': link === false}" (click)="isNavigate(false)">No</button>
        <button type="button" mat-button color="primary" [ngClass]="{'active': link}"  (click)="isNavigate(true)">Yes</button>
      </div>
    </div>
    <div *ngIf="link || buttonQuestion" class="line"></div>
    <div class="response" *ngIf="link">
      <p>Since you are navigating, use a <strong>Link</strong>.</p>
      <code>&#x3C;a href=&#x22;&#x22;&#x3E;&#x3C;/a&#x3E;</code>
    </div>
    <div class="question" *ngIf="buttonQuestion">
      <p>Ok, not navigating.</p>
      <p>Is clicking the element going to intiate an action?</p>
      <div class="actions">
        <button type="button" mat-button color="accent" [ngClass]="{'active': button === false}" (click)="isButton(false)">No</button>
        <button type="button" mat-button color="primary" [ngClass]="{'active': button}" (click)="isButton(true)">Yes</button>
      </div>
    </div>
    <div *ngIf="button || neither" class="line"></div>
    <div class="response" *ngIf="button">
      <p>Since you are triggering an action, use a <strong>Button</strong></p>
      <code>&#x3C;button type=&#x22;&#x22;&#x3E;&#x3C;/button&#x3E;</code>
    </div>
    <div class="response" *ngIf="neither">
      <p>Not an action?</p>
      <p>Not navigating?</p>
      <p>Sorry, not sure what you are trying to do, maybe the following links can help you out.</p>
      <ul>
        <li><a href="https://www.w3.org/TR/wai-aria/roles#button" target="_blank" rel="noopener">WAI-ARIA Roles: Button</a></li>
        <li><a href="https://www.w3.org/TR/wai-aria/roles#link" target="_blank" rel="noopener">WAI-ARIA Roles: Link</a></li>
      </ul>
    </div>
  </div>
</section>
