@import '../assets/scss/mixins';

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: hidden; 
}

.actions {
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.bar {
  position: relative;
  height: 10px;
  background: $grey200;
  div {
    position: absolute;
    top: 0; left: 0; bottom: 0;
    background: $secondary;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: white;
}

@media ( min-width: $small ) {
  .container {
    display: flex;
  }
  app-sidenav {
    flex-basis: 12rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: solid 1px $grey300;
    overflow-y: auto;
  }
  main { 
    background: $background;
    flex-grow: 1;
  }
}
