<h2>Tables</h2>
<section>
  <table summary="rows of students and their abstenteism status">
    <caption>Student Roster</caption>
    <tr>
      <td></td>
      <th scope="col">Present</th>
      <th scope="col">Absent</th>
    </tr>
    <tr>
      <th scope="row">Sam</th>
      <td>true</td>
      <td>false</td>
    </tr>
    <tr>
      <th scope="row">Maxine</th>
      <td>false</td>
      <td>true</td>
    </tr>
  </table>

  <code>
  <pre>&lt;table summary="rows of students and their abstenteism status" &gt;
    &lt;caption&gt;Student Roster&lt;/caption&gt;
    &lt;tr&gt;
      &lt;td&gt;&lt;/td&gt;
      &lt;th scope=&quot;col&quot;&gt;Present&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Absent&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;row&quot;&gt;Sam&lt;/th&gt;
      &lt;td&gt;true&lt;/td&gt;
      &lt;td&gt;false&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;row&quot;&gt;Maxine&lt;/th&gt;
      &lt;td&gt;false&lt;/td&gt;
      &lt;td&gt;true&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;</pre>
  </code>
</section>
