<h2>Language Attribute</h2>

<section>
  <h3>Overview</h3>
  <div class="spec">
    <blockquote>
      <p>Guideline 3.1: Make text content readable and understandable.</p>
      <p>3.1.1 Language of Page: The default human language of each Web page can be programmatically determined. (Level A)</p>
    </blockquote>
    <cite><a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning.html" rel="noopener" target="_blank">Understanding Guideline 3.1</a></cite>
  </div>
  <p><q>The intent of this guideline is to allow text content to be read by users and by assistive technology, and to ensure that information necessary for understanding it is available.</q> (<cite><a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning.html" rel="noopener" target="_blank">Understanding Guideline 3.1</a></cite>)</p>
</section>

<section>
  <h3>The Code</h3>
  <div class="spec-technique">
    <blockquote><p>H58: Using language attributes to identify changes in the human language</p></blockquote>
    <cite><a href="https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/H58" target="_blank" rel="noopener">Techniques for WCAG 2.0: H58</a></cite>
  </div>
  <h4>HTML</h4>
  <pre><code #code>&lt;html lang=&quot;en-US&quot;&gt;
  ... 
&lt;/html&gt;</code></pre>
</section>

<section>
  <div class="works-cited">
    <h3>Resources</h3>
    <cite>(n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/International/articles/language-tags/index.en" rel="noopener" target="_blank">https://www.w3.org/International/articles/language-tags/index.en</a></cite>
    <cite>8 Language information and text direction. (n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/TR/html401/struct/dirlang.html" rel="noopener" target="_blank">https://www.w3.org/TR/html401/struct/dirlang.html</a></cite>
    <cite>H58: Using language attributes to identify changes in the human language. (n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/H58" rel="noopener" target="_blank">https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/H58</a></cite>
    <cite>Language of Page:Understanding SC 3.1.1. (n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html" rel="noopener" target="_blank">https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html</a></cite>
    <cite>Language of Parts:Understanding SC 3.1.2. (n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-other-lang-id.html" rel="noopener" target="_blank">https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-other-lang-id.html</a></cite>
    <cite>Readable:Understanding Guideline 3.1. (n.d.). Retrieved October 11, 2017, from <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning.html" rel="noopener" target="_blank">https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning.html</a></cite>
  </div>
</section>