<h2>About Me</h2>
<div class="container">
  <div class="info">
    <div>Martine Dowden</div>
    <div>Andromeda</div>
    <div>UX Designer / Developer</div>
    <div>@Martine_Dowden</div>
  </div>
  <div>
    <h2 class="projects">
      <img src="/assets/img/logo.svg" alt="Andromeda">
      Projects
    </h2>
    <img src="/assets/img/horzontal-flexe.svg" alt="FlexePark">
    <img src="/assets/img/sod_logo.svg" alt="Shifts On Demand">
    <img src="/assets/img/librum-logo.svg" alt="Librum Arcanum">
  </div>
</div>
