<h2>HTML Header Tags</h2>
<section>
  <div class="actions">
    <button type="button" mat-raised-button color="accent" (click)="toggleHierarchy()">
      <span *ngIf="hierarchy">Remove Hierarchy</span>
      <span *ngIf="!hierarchy">Add Hierarchy</span>
    </button>
  </div>
  <div class="demo-container" #container (window:resize)="onResize()">
    <div class="demo hierarchy" [ngClass]="{'showTop': hierarchy, 'hideTop': !hierarchy}" [attr.aria-hidden]="hierarchy">
      <div #withHierarchy>
        <h1>Jurasic Era Dinosaurs</h1>
        <h2>Carnivorous</h2>
        <h3><ruby>Cryolophosaurus <rt>CRY-oh-LOFF-oh-SORE-us</rt></ruby>Ellioti</h3>
        <h3><ruby>Megalosaurus <rt>MEG-ah-lo-SORE-us</rt></ruby> Bucklandii</h3>
        <h2>Herbivorous</h2>
        <h3><ruby>Kotasaurus <rt>KOH-ta-SORE-us</rt></ruby> Yamanpalliensis</h3>
        <h3><ruby>Spinophorosaurus <rt>SPY-no-FOR-oh-SORE-us</rt></ruby> Nigerensis</h3>
        <h3><ruby>Jobaria <rt>jo-BAR-ee-ahh</rt></ruby>Tiguidensis</h3>
      </div>
    </div>
    <div [ngClass]="{'show': !hierarchy, 'hide': hierarchy}" class="demo" [attr.aria-hidden]="!hierarchy">
      <div #withoutHierarchy>
        <div>Jurasic Era Dinosaurs</div>
        <div>Carnivorous</div>
        <div><ruby>Cryolophosaurus <rt>CRY-oh-LOFF-oh-SORE-us</rt></ruby>Ellioti</div>
        <div><ruby>Megalosaurus <rt>MEG-ah-lo-SORE-us</rt></ruby> Bucklandii</div>
        <div>Herbivorous</div>
        <div><ruby>Kotasaurus <rt>KOH-ta-SORE-us</rt></ruby> Yamanpalliensis</div>
        <div><ruby>Spinophorosaurus <rt>SPY-no-FOR-oh-SORE-us</rt></ruby> Nigerensis</div>
        <div><ruby>Jobaria <rt>jo-BAR-ee-ahh</rt></ruby>Tiguidensis</div>
      </div>
    </div>
  </div>

  <pre><code #code>&#x3C;h1&#x3E;Jurasic Era Dinosaurs&#x3C;/h1&#x3E;
  &#x3C;h2&#x3E;Carnivorous&#x3C;/h2&#x3E;
    &#x3C;h3&#x3E;&#x3C;ruby&#x3E;Cryolophosaurus &#x3C;rt&#x3E;CRY-oh-LOFF-oh-SORE-us&#x3C;/rt&#x3E;&#x3C;/ruby&#x3E;Ellioti&#x3C;/h3&#x3E;
    &#x3C;h3&#x3E;&#x3C;ruby&#x3E;Megalosaurus &#x3C;rt&#x3E;MEG-ah-lo-SORE-us&#x3C;/rt&#x3E;&#x3C;/ruby&#x3E; Bucklandii&#x3C;/h3&#x3E;
  &#x3C;h2&#x3E;Herbivorous&#x3C;/h2&#x3E;
    &#x3C;h3&#x3E;&#x3C;ruby&#x3E;Kotasaurus &#x3C;rt&#x3E;KOH-ta-SORE-us&#x3C;/rt&#x3E;&#x3C;/ruby&#x3E; Yamanpalliensis&#x3C;/h3&#x3E;
    &#x3C;h3&#x3E;&#x3C;ruby&#x3E;Spinophorosaurus &#x3C;rt&#x3E;SPY-no-FOR-oh-SORE-us&#x3C;/rt&#x3E;&#x3C;/ruby&#x3E; Nigerensis&#x3C;/h3&#x3E;
    &#x3C;h3&#x3E;&#x3C;ruby&#x3E;Jobaria &#x3C;rt&#x3E;jo-BAR-ee-ahh&#x3C;/rt&#x3E;&#x3C;/ruby&#x3E;Tiguidensis&#x3C;/h3&#x3E;</code></pre>
  
</section>
