<h2>Alt Text</h2>
<section>
  <div class="actions">
    <button mat-raised-button color="accent" (click)="makeAccessible()">
      <span *ngIf="!accessible">Make Image Accessible</span>
      <span *ngIf="accessible">Break Image Accessibility</span>
    </button>
  </div>
  <div class="tp-wrapper" #wrapper (window:resize)="onResize($event)">
    <div class="tp-box" [@flipState]="flip">
      <div class="tp-box__side tp-box__front" [attr.aria-hidden]="accessible">
        <img (load)="onResize($event)" #stairs id="stairs" src="assets/img/stairs.png">
        <caption #captionA ><code>&#x3C;img src=&#x22;stairs.png&#x22;&#x3E;</code></caption>
      </div>
      <div class="tp-box__side tp-box__back" [attr.aria-hidden]="accessible">
        <img src="assets/img/pittock-mansion-stairs.png" alt="Pittock Mansion grand staircase">
        <caption #captionN><code>&#x3C;img src=&#x22;img/stairs.png&#x22; alt=&#x22;Pittock Mansion grand staircase, Oregon&#x22;&#x3E;</code></caption>
      </div>
    </div>
  </div>

  <pre><code #code>
  &#x3C;img src=&#x22;stairs.png&#x22; alt=&#x22;Dilapidated stairs.&#x22;&#x3E;
  &#x3C;img src=&#x22;border.png&#x22; alt=&#x22;&#x22;&#x3E;
  &#x3C;img src=&#x22;border.png&#x22; role=&#x22;presentation&#x22;&#x3E;
  </code></pre>

</section>
