@import '../../../assets/scss/mixins';

div.banner a { 
  background: $primary;
  color: $text-light;
  height: 3em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

i { 
  font-size: 2rem;
  margin-right: 1rem;
  text-decoration: none;
}

a:hover, a:focus, a:link:hover, a:link:focus, a:visited:hover, a:visited:focus {
  text-decoration: none;
  i { text-decoration: none; }
}

h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: 400;
  span { display: none; }
}

@media( min-width: $small ) {
  h1 span {display: inline; }
}

