/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'assets/scss/mixins';

* { box-sizing: border-box }
*:focus { outline-width: 0 }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: $primary-dark;
  font-weight: 400;
}


a,
a:link,
a:visited {
  color: $secondary;
  text-decoration: none;
  font-variant: small-caps;
  &:hover,
  &:focus {
    color: $primary;
    text-decoration: underline;
  }
}
