/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/theme';
@import 'assets/scss/mixins';

* { box-sizing: border-box }
*:focus { outline-width: 0 }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: $primary-dark;
  font-weight: 300;
  font-size: 100%;
}

a,
a:link,
a:visited {
  color: $secondary;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 700;
  &:hover,
  &:focus {
    color: $secondary;
    text-decoration: underline;
  }
}


section {
  padding: 0 1rem;
}

main {
  overflow-y: scroll;
  position: absolute;
  top: 3rem; right: 0; bottom: 0; left: 0;
}

p, li { line-height: 1.5rem; }

cite {
  display: block;
  font-size: .75rem;
  margin-bottom: .5rem;
  text-indent: -1rem;
  margin-left: 1rem;
  a {
    word-break: break-all;
  }
}
p cite { 
  display: inline;
  margin: 0;
  text-indent: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

code {
  background: $primary-dark;
  color: $text-light;
  padding: 1rem;
  display: block;
  border-radius: .125rem;
  font-weight: lighter;
  font-size: 1.125rem;
}

@media ( min-width: $small ) {
  main {
    left: 12rem;
    top: 0;
  }
}