/* You can add global styles to this file, and also import other style files */

@import 'assets/scss/theme';
@import 'assets/scss/mixins';

* { box-sizing: border-box }
*:focus { outline-width: 0 }

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  color: $primary-dark;
  font-weight: 300;
  font-size: 100%;
}

a,
a:link,
a:visited {
  color: $secondary;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 700;
  &:hover,
  &:focus {
    color: $secondary;
    text-decoration: underline;
  }
}


section, .section {
  padding: 0 1rem;
}

main {
  overflow-y: scroll;
  position: absolute;
  top: 3.75rem; right: 0; bottom: 0; left: 0;
}

p, li { line-height: 1.5rem; }

cite {
  display: block;
  font-size: .75rem;
  margin-bottom: .5rem;
  text-indent: -1rem;
  margin-left: 1rem;
  a {
    word-break: break-all;
  }
}
p cite, legend cite { 
  display: inline;
  margin: 0;
  text-indent: 0;
  font-size: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

code {
  line-height: 2rem;
  font-size: 1.125rem;
  &.hljs {
    padding: 1rem;
    margin: 0 -1rem;
  }
}
pre { margin: 0 }

fieldset {
  border-color: lighten($secondary, 30%);
}

.works-cited {
  margin: 3rem 0 1rem;
}

.actions {
  text-align: right;
  margin-bottom: 1rem;
}

.spec, .spec-technique {
  @include card;
  padding: 2rem;
  margin-bottom: 2rem;
  h3 { margin: 0; color: $secondary; }
  blockquote { margin: 0; }
  cite { text-align: right; }
}

.spec-technique {
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

strong { color: $primary; }

hr {  
  border: 0;
  height: 1px;
  background: lighten($secondary-light, 20%);
}

@media ( min-width: $small ) {
  main {
    left: 12rem;
    top: 0;
  }
}